@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(chrome-extension://__MSG_@@extension_id__/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(chrome-extension://__MSG_@@extension_id__/MaterialIcons-Regular.ttf);
}

body {
  font-family: "Roboto";
}

body.options #root {
  margin: 20px;
}

body.popup {
  width: 600px;
}

div.option-value {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
